<!doctype html>
<head>
    <style>
        .comment_body {
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
<title>PR: {{ title }}</title>
<h1>Comments</h1>
{% for top_level_comment in comments %}
    <h2><b>{{ top_level_comment.author_name }}</b> at <i>{{ top_level_comment.created_at }}</i></h2>
    {% if top_level_comment.body %}
        <p class="comment_body">{{ top_level_comment.body }}</p>
    {% endif %}
    {% for inline_comment in top_level_comment.inline_comments %}
        <h3><i>{{ inline_comment.path }}:{{ inline_comment.line }}</i></h3>
        <p class="comment_body">{{ inline_comment.body }}</p>
    {% endfor %}
    <hr/>
{% endfor %}
</body>